<div class="wrapper">
	<div class="box">
		<div class="row row-offcanvas row-offcanvas-left">
			<div class="column col-sm-12 col-xs-11" id="main">
				<div class="padding">
					<div class="full col-sm-9">
						<div class="row">
							<div class="col-sm-7">
								<% @users.each do |user| %>
								<div class="panel panel-default">
									<div class="panel-body">
										<p>
										  <%= image_tag(current_user.avatar.url(:thumb)) %>
										</p>
										<h5>Username: <%= user.username %></5>
										<hr>
										<div class="about">
										    <h5>About Me:</h5>
											<p><%= user.about %></p>
										</div>
									</div>
								</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

